main.main
	.presentBlock.clearfix
		.gradientBox
		.characterBlock
			- for (var x = 0; x < 4; x++)
				.characterBlock__square
			.characterBlock__circle
				.circleWall
				.circleFloor
				.circleImg
		.gradientBox._reverse
	.characterInfo.clearfix
		.characterInfo__gradient
		.characterInfo__gradient._reverse
		.characterInfo__triangleWrap
			.characterInfo__triangle
		.characterInfo__circle
			.characterInfo__article
				h1.characterInfo__title 24
				h1.characterInfo__title seven
		.characterInfo__img._cil
		.characterInfo__img._cir._reverse