@font-face {
	font-family: Swampy;
	src: url("../fonts/Swampy Clean.ttf") format("truetype");
}
@font-face {
	font-family: Bimbo;
	src: url("../fonts/bimbo-jumbo.ttf") format("truetype");
}
@font-face {
	font-family: Rounds;
	src: url("../fonts/Rounds.otf") format("opentype");
}
@font-face {
	font-family: Bottle;
	src: url("../fonts/Bottle.ttf") format("truetype");
}
