@font-face {
	font-family: Swampy;
	src: url("../fonts/Swampy Clean.ttf") format("truetype");
}
@font-face {
	font-family: Bimbo;
	src: url("../fonts/bimbo-jumbo.ttf") format("truetype");
}

@import 'variables/pathVariables.scss';

._ribby {
	background-image: url('#{$gifImagePath}/ribby/Imageproxy_(4).gif');
}
._cuphead {
	background-image: url('#{$staticImagePath}/ribby/cuphead__angle.png');
}
._tube {
	background-image: url('#{$staticImagePath}/ribby/tube_yellow.png');
}

.wrap {
	background-color: #ff9baa;
}

.sideCard:last-child {
	right: 2.5%;
}
.sideCard__rhombus {
	position: relative;
	margin-top: 45px;
	margin-left: 45px;
	width: 200px;
	height: 200px;
	border: 5px solid #ffc014;
	transform: rotate(45deg);
}
.sideCard__content {
	position: absolute;
	top: calc(50% - 5px);
	left: calc(50% - 5px);
	transform: translateY(-50%) translateX(-50%); 
	width: 250px;
	height: 250px;

	.sideCard__letter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%); 
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid;
		background-color: #fbf2e4;
		text-align: center;
		font-family: sans-serif;
		font-size: 25px;
		font-weight: 900;

		&:nth-child(1) {
			left: 0;
		}
		&:nth-child(2) {
			right: 0;
		}
	}

	.sideCard__img {
		background-image: url('#{$staticImagePath}/ribby/cupheadScared.png');
	}
}

.card {
	padding: 45px 30px;
	width: 925px;
	height: 965px;
	background-color: #ffc014;

	.box {
		width: 100%;
		height: 100%;

		.header,
		.main,
		.footer {
			position: relative;
		}

		.header {
			width: 100%;
			height: 100px;
			margin-bottom: 10px;
		}
		.main {
			width: 100%;
			height: calc(100% - 220px);
			margin-bottom: 10px;
		}
		.footer {
			width: 100%;
			height: 100px;

			.sideBlock__article {
				padding: 15px 0;
				border-radius: 50px;
				background-color: #ffc014;
			}

			.sideBlock__title {
				text-transform: uppercase;
				font-size: 40px;
				line-height: 30px;
				color: #eb5631;

				&::before,
				&::after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					display: inline-block;
					content: "";
					width: 10px;
					height: 10px;
					background-color: #eb5631;
					border-radius: 50%;
					margin-bottom: 8px;
				}

				&::before {
					left: 50px;
				}
				&::after {
					right: 50px;
				}

				span {
					font-family: 'Bimbo';
					font-size: 30px;
					text-transform: capitalize;
				}
			}
		}
	}
}

.sideBox {
	float: left;
	width: 100px;
	height: 100%;
	border: 5px solid;

	&:first-child {
		margin-right: 10px;
	}

	&__inside {
		width: 100%;
		height: 100%;
		border: 3px solid #ff9baa;
		background-color: #eb5631;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		.sideBox__title,
		.sideBox__text {
			font-family: 'Swampy';
			color: #fbf2e4;
			text-align: center;
			font-weight: 900;
		}
		.sideBox__title {
			font-size: 50px;
		}
		.sideBox__text {
			font-size: 18px;
		}
	}
}

.sideBlock {
	position: relative;
	float: left;
	width: calc(100% - 220px);
	height: 100%;
	margin-right: 10px;
	border: 5px solid;
	background-color: #eb5631;

	&__triangle {
		position: absolute;
		border-top: 45px solid transparent;
		border-left: 130px solid #000;
		border-bottom: 45px solid transparent;
		z-index: 1;

		&:last-child {
			right: 0;
			transform: scaleX(-1);
		}

		.sideBlock__tAngle {
			position: absolute;
			top: 100%;
			left: 104%;
			transform: translateY(-106%) translateX(-120%);
			border-bottom: 37.5px solid #ff9baa;
			border-right: 107px solid transparent;
		}
		.sideBlock__bAngle {
			position: absolute;
			top: 4%;
			left: 110%;
			transform: translateY(6%) translateX(-120%);
			border-top: 37.5px solid #fbf2e4;
			border-right: 107px solid transparent;
		}
	}

	&__article {
		position: absolute;
		top: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 425px;
		height: calc(100% + 10px);
		border: 5px solid;
		background-color: #ff9baa;
	}

	&__title {
		font-family: 'Swampy';
		text-align: center;
		font-weight: 900;
		font-size: 140px;
	}
}

.grid {
	float: left;
	margin-left: -15px; 
	width: 90px;
	height: 90px;

	&:first-child {
		margin-left: 15px; 
	}

	&__btn {
		width: 60%;
		height: 60%;
		background-color: #fbf2e4;
		border: 4px solid #000;
		line-height: 48px;
		margin: 10% 26%;
		padding: 0 7px;
		position: relative;
		transition: all 0.05s ease-in;

		&::before,
		&::after {
			border: 4px solid #000;
			content: '';
			position: absolute;
			transition: all 0.05s ease-in;
		}

		&::before {
			background-color: #f5d152;
		}
		&::after {
			background-color: #eb5631;
		}

		&::before {
			width: 20%;
			height: calc(100% + 2px);
			border-right: 0;
			border-bottom-width: 2px;
			transform: skew(0deg, -45deg) translateX(-4px);
			transform-origin: top right;
			top: -8px;
			right: 99%;
		}
		&::after {
			width: calc(100% + 1px);
			height: 20%;
			border-top: 0;
			border-left-width: 3px;
			transform: skew(-45deg, 0deg) translateY(4px);
			transform-origin: top right;
			top: 100%;
			right: -8px;
		}

		&._p16 {
			padding: 0 16px;
		}

		.grid__letter {
			font-family: sans-serif;
			font-size: 45px;
			font-weight: 900;
		}
	}
}

.presentBlock {
	width: 100%;
	height: 468px;

	.gradientBox {
		float: left;
		width: 100px;
		height: 100%;
		border: 5px solid;
		border-bottom: 0;
		background: repeating-linear-gradient(125deg, #eb5631, #eb5631 30px, #fbf2e4 30px, #fbf2e4 66.3px);
		animation: animationGradient 4s linear infinite;

		&:first-child {
			margin-right: 10px;
		}
		&:last-child {
			transform: scaleX(-1);
		}
	}

	.characterBlock {
		position: relative;
		float: left;
		width: calc(100% - 220px);
		height: calc(100% - 10px);
		margin-right: 10px;
		border: 5px solid;
		overflow: hidden;

		&__rope {
			position: absolute;
			left: -77.5px;
			width: 800px;
			height: 300px;
			border-radius: 50%;
			border: 5px solid #fbf2e4;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;

			&:nth-child(1) {
				bottom: -190px;
			}
			&:nth-child(2) {
				bottom: -150px;
			}
			&:nth-child(3) {
				bottom: -110px;
			}
		}

		&__article {
			position: absolute;
			top: 20px;
			padding: 10px 0;
			width: 100%;
			height: 75px;
			border: 5px solid #000;
			border-left: 0;
			border-right: 0;

			.characterBlock__quoteWrap {
				width: 100%;
				height: 100%;
				background-color: #eb5631;

				.characterBlock__quote {
					font-family: 'Swampy';
					color: #fbf2e4;
					text-align: center;
					font-weight: 900;
					font-size: 40px;
					text-transform: uppercase;
					word-spacing: -10px;

					&::before,
					&::after {
						display: inline-block;
						content: "";
						width: 10px;
						height: 10px;
						background-color: #fbf2e4;
						border-radius: 50%;
						margin-bottom: 8px;
					}

					&::before {
						margin-right: 12px;
					}
					&::after {
						margin-left: 12px;
					}
				}
			}
		}

		&__img {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.characterInfo {
	width: 100%;
	height: 187px;

	.sideBox__inside {
		border: 0;
	}

	.sideBlock {
		border: 7px solid;
		background-color: #ff9baa;
	}
}

@keyframes animationGradient {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 458px;
	}
}