.menu
	.menu__items
		a(href='casino.html')
			.menu__item._casino
				.menu__titleWrap
					p.menu__title CASINO
		a(href='finish.html')
			.menu__item._finish
				.menu__titleWrap
					p.menu__title FINISH
		a(href='fury.html')
			.menu__item._fury
				.menu__titleWrap
					p.menu__title FURY
		a(href='garden.html')
			.menu__item._garden
				.menu__titleWrap
					p.menu__title GARDEN
		a(href='know.html')
			.menu__item._know
				.menu__titleWrap
					p.menu__title KNOW
		a(href='nonsense.html')
			.menu__item._nonsense
				.menu__titleWrap
					p.menu__title NONSENSE
		a(href='index.html')
			.menu__item._ribby
				.menu__titleWrap
					p.menu__title RIBBY