footer.footer
	.sideBox
		.sideBox__inside
			p.sideBox__letter n
	.sideBlock
		.sideBlock__article
			h1.sideBlock__title Don't get excited, dice.<br/> I'll wait!!!
	.sideBox
		.sideBox__inside
			p.sideBox__letter g