header.header.clearfix
	.sideBox
		.sideBox__inside
			p.sideBox__letter k
	.sideBlock
		.sideBlock__article
			h1.sideBlock__title It's not a place<br/>you can hang out.
	.sideBox
		.sideBox__inside
			p.sideBox__letter i