html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/finish/_linkFinishStyle.pug
	body
		mixin sideBoxMix(reverse)
			.sideBox
				.sideBox__angle(class=`_${reverse}`)
				.sideBox__square
		.container.finish
			include template/partials/menu/_burger.pug
			.wrap
				.sideCard
					.sideCard__img._reverse
					.sideCard__titleWrap
						h1.sideCard__title Nightmare
				.card
					include template/partials/menu/_menu.pug
					.box
						include template/partials/finish/_header.pug
						include template/partials/finish/_main.pug
						include template/partials/finish/_footer.pug
				.sideCard
					.sideCard__img
					.sideCard__titleWrap
						h1.sideCard__title Nightmare
		include template/partials/_mainScripts.pug