main.main
	.main__titleWrap
		h1.main__title nonsense
	.characterBlock.clearfix
		.characterBlock__side
			.characterBlock__sideImg
			.characterBlock__sideImg
		.characterBlock__square
			.squareWall
			.squareFloor
			.squareImg
			.squareShadow
		.characterBlock__side._reverse
			.characterBlock__sideImg
			.characterBlock__sideImg
	.characterInfo.clearfix
		.sideBox
			.sideBox__img._reverse
		.sideBlock
			h1.sideBlock__title great
		.sideBox
			.sideBox__img