footer.footer
	.sideBox
		.sideBox__inside
			h1.sideBox__title 0,3
			p.sideBox__text LITER
	.sideBlock
		+triangleMix()
		.sideBlock__article
			h1.sideBlock__title
				span Little
				| tadpole <br/> battle
				span Soul
		+triangleMix()
	.sideBox
		.sideBox__inside
			h1.sideBox__title 4,7
			p.sideBox__text PROZENT