main.main
	.presentBlock.clearfix
		.gradientBox
		.characterBlock
			.characterBlock__rope._1
			.characterBlock__rope._2
			.characterBlock__rope._3
			.characterBlock__article
				.characterBlock__quoteWrap
					h1.characterBlock__quote We had a battle of the soul
			.characterBlock__img._ribby
		.gradientBox
	.characterInfo
		.sideBox
			.sideBox__inside._tube
		.sideBlock
			h1.sideBlock__title DISASTER
		.sideBox
			.sideBox__inside._tube._reverse