main.main
	.gradientBox
	.presentBlock
		.presentBlock__titleWrap
			h1.presentBlock__commas._reverse "
			h1.presentBlock__title FINISH
			h1.presentBlock__commas "
		.characterBlock.clearfix
			.characterBlock__side._reverse
				.characterBlock__sideImg
				.characterBlock__sideImg
			.characterBlock__img
			.characterBlock__side
				.characterBlock__sideImg
				.characterBlock__sideImg
		.characterInfo
			.sideBox
				.sideBox__img._reverse
			.sideBlock
				h1.sideBlock__title
					span.high
						span.orange SAMEDI 
						span.blue 12
						| .
						span.purple MAI <br/>
					| ARBOET 
					span.purple ALL 
					span.blue NIGHT <br/>
					span.high
						span.blue RUE 
						span.orange LAK
						span.purple ,
						| PARIS
			.sideBox
				.sideBox__img
	.gradientBox._reverse