footer.footer
	.sideBox._reverse
	.sideBlock
		.sideBlock__article
			.sideBlock__titleWrap
				h1.sideBlock__title run from
			.sideBlock__titleWrap
				h1.sideBlock__title garden
		.sideBlock__gradient
	.sideBox